@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Anthony S,A Gradillas
   Date:   12.4.18
      
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page



*/

/* Html Styles */
html {
    background-color: aqua;
}

/* Body Styles */
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

body>header>img {
    display: block;
    width: 100%;
}

/* Navigation Styles */
nav.horizontal ul li {
    background-color: aquamarine;
    display: block;
    font-size: 15px;
    float: left;
    line-height: 30px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 50px;
    width: 100px;
}

/* Article Styles */

/* Section Styles */